
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
  font-family: 'Inter';
}

.imageBackGround{
  position: absolute;
  background-image: url('./assets/bgSection2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom ;
  opacity: 20%;

}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #FAFAFA;
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(300px);
  z-index: 10;
}


